.button {
  border: none;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;

  width: 100%;

  padding: 0.5em 1em;

  transition: all 500ms;

  &:hover {
    border-radius: 14px;
    filter: brightness(1.25);
  }

  &__clear {
    background: rgba(255, 255, 255, 0);

    &:hover {
      background: rgba(255, 255, 255, 0.1) !important;
    }
  }

  .icon {
    width: 1.25em;
    margin-right: 1em;
  }
}
