.card {
  position: relative;
  padding: 1em;
  width: 100%;
  height: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    pointer-events: none;
    $mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);

    border: 2px solid transparent;
    background: var(--gradient-secondary) border-box;
    -webkit-mask: $mask;
    -webkit-mask-composite: destination-out;
  }
}
