.card {
  background: var(--gradient-primary);
  border-radius: 8px;
  display: flex;
  position: relative;

  .image-embed {
    position: absolute;
    width: 420px;
    left: -30px;
    top: -25px;
  }

  .heart {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  > div {
    position: absolute;
    right: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 40%;

    .profile {
      display: flex;
      gap: 1em;

      .info {
        display: flex;
        flex-direction: column;

        .tag {
          color: #c0c0c0;
          text-decoration: none;
        }
      }
    }

    .price-info {
      display: flex;
      justify-content: space-between;

      .price {
        > div {
          margin-bottom: 5px;
          color: #c0c0c0;
        }
      }
    }

    .buttons {
      margin-top: 5em;
      display: flex;
      gap: 0.5em;

      > button {
        height: 50px;
        font-weight: bolder;
      }

      .view-rewards {
        background-color: rgba(255, 255, 255, 0.5);
        color: #000;
      }
    }
  }
}
